<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rudra_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.basic.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.basic.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.basic.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.basic.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.basic.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.basic.MainActivity" />
        </activity>
        <activity
            android:name="com.example.basic.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.basic.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.basic.TextPlay"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.Email"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.Camera"
            android:label="Camera Application"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.basic.Data"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.OpenedClass"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.Orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.SoundStuff"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.Slider"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.basic.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.basic.Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.basic.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.basic.GFX"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name="com.example.basic.Tabs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.basic.SimpleBrowser"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>